@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h3>Information</h3>
 
       
            <h5>Welcome</h5>
            This simple project was created to pass subject '.NET programming'
            <br />
     

</article>
