@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        In case of any question, you can email me :
        <br />
        <b>s9717@pjwstk.edu.pl</b>
    </p>

</section>