@model IEnumerable<ASP.NET_MVC4_CRUD_WEBAPP.Models.Auction>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Auctions";
}



@section Featured {
    <section class="featured">
        <div class="content-wrapper">
          List of actually active Auctions
        </div>
    </section>
}

@section Scripts {
    <!-- This content will be rendered in the Scripts section -->
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_AuctionTile", item)
}
